﻿@model WebBanMyPham.Models.CreateAccountViewModel   
@{
    ViewBag.Title = "Thêm mới tài khoản";
}


<!-- Content Header (Page header) -->

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thêm mới tài khoản</h3>

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                <div class="form-group">
                    <label>Tài khoản</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Họ tên</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Quyền truy cập</label>
                    @Html.DropDownListFor(x => x.Role, ViewBag.Role as SelectList, "-Chọn quyền", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <a href="/admin/account" class="btn btn-danger">Quay lại</a>
                    <button type="submit" class="btn btn-success">Thêm mới</button>
                </div>
            }
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
