﻿@model IEnumerable<WebBanMyPham.Models.EF.OrderDetail>
@if (Model != null && Model.Any())
{
    var i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Tên sản phẩm</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Product.Title</td>
                    <td>@item.Quantity</td>
                    <td>@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</td>
                    <td>@WebBanMyPham.Common.Common.FormatNumber((item.Price * item.Quantity), 0)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
