﻿@using WebBanMyPham.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top:160px">
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Sử dụng 1 tài khoản để đăng nhập.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                        <label style="padding-left:20px">Tài khoản</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <label style="padding-left:20px">Mật khẩu</label>
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @*@Html.LabelFor(m => m.RememberMe)*@
                                <label>Ghi nhớ?</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng nhập" class="btn btn-default" />
                        </div>
                    </div>
                    @*<p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>*@
                    @*<p> Enable this once you have account confirmation enabled for password reset functionality</p>*@
                        <p  style="padding-left:20px">
                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                        </p>
                }
            </section>
        </div>
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}