﻿ 
@{
    ViewBag.Title = "Thanh toán";
}
<style>
    .error{
        color:red;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Thanh toán</h1>
                        <p>Bạn hãy kiểm tra lại thông tin đơn hàng!</p>
                    </div>
                </div>
            <hr/>
                <div class="row">
                    <div class="show_success"></div>
                    <div class="col-md-8">
                        @Html.Action("Patial_CheckOut", "ShoppingCart")
                    </div>
                    <div class="col-md-4"> 
                        @Html.Action("Patial_Item_CheckOut", "ShoppingCart")
                    </div>
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        function OnFail(rs) {
            if (!rs.Success) {
                $('#show_success').html("Bạn đặt hàng thất bại! Xin vui lonhg thử lại")
            }
        }
        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName':{
                        required: true
                    },
                    'Phone':{
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true, 
                        email: true
                    }
                },
                messages: {
                    'CustomerName': 'Bạn không được để trống trường này',
                    'Phone': 'Bạn không được để trống trường này',
                    'Address': 'Bạn không được để trống trường này',
                    'Email':'Email chưa hợp lệ '
                }
            });
        });
    </script>
}


