﻿@model WebBanMyPham.Models.OrderViewModel
<div class="col-md-8">
    @using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_data",
        OnComplete="OnSuccess",
        OnFailure="OnFail"
    },new { @Id="myForm" }))
    {
        @Html.AntiForgeryToken()
        <h3>Thông tin khách hàng</h3>
        <div class="form-group">
            <label>Họ tên khách hàng:</label>
            <input type="text" name="CustomerName" required class="form-control" autocomplete="of" />
        </div>
        <div class="form-group">
            <label>Số điện thoại:</label>
            <input type="text" name="Phone" required class="form-control" autocomplete="of" />
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            <input type="text" name="Address" required  class="form-control" autocomplete="of" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" name="Email" required  class="form-control" autocomplete="of" />
        </div>
        <div class="form-group">
            <label>Hình thức thanh toán:</label>
            <select class="form-control" name="TypePayment">
                <option value="1" selected>Trả tiền mặt</option>
                <option value="2">Chuyển khoản</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
        </div>
    }
</div>
