﻿@model IEnumerable<WebBanMyPham.Models.ShoppingCartItem>
@using WebBanMyPham.Common
@if (Model != null && Model.Any())
    {
        <h3>GIỎ HÀNG</h3>
        var i = 1;
        var tongtien = decimal.Zero;
        <div style="border:1px solid #808080;">
            <table class="table">
                <tr>
                    <td>Tên sản phẩm</td>
                    <td>Số lượng</td>
                    <td>Thành tiền</td>
                </tr>
                @foreach (var item in Model)
                 {
                    tongtien += item.TotalPrice;
                    <tr class="text-center">
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@Common.FormatNumber(item.Price,0)</td>
                    </tr>
                }
            <tr class="text-center">
                <th colspan="2" style="text-align:right;">Tổng tiền:</th>              
                <th>@Common.FormatNumber(tongtien, 0)</th>
            </tr>
            </table>
        </div>
       


    }
    else
    {

    }

</table>



