﻿@model IEnumerable<WebBanMyPham.Models.ShoppingCartItem>
    @using WebBanMyPham.Common
<table class="table">
    <tr class="text-center">
        <th >STT</th>
        <th style="width:200px">Tên sản phẩm</th>
        <th style="width:200px">Danh mục</th>
        <th style="width:200px">Ảnh sản phẩm</th>
        <th style="width:100px;">Số lượng</th>
        <th>Giá</th>
        <th>Thành tiền</th>
        <th style="width:500px"></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 1;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            <tr class="text-center" id="trow_@item.ProductId">
                <td>@i</td>
                <td><a href="/chi-tiet/@item.Alias-p@(item.ProductId)">@item.ProductName</a></td>
                <td>@item.CategorytName</td>
                <td><img src="@item.Image" width="90" /></td>
                <td><input type="number" min="1" class="form-control" id="Quantity_@item.ProductId" value="@item.Quantity" /></td>
                <td>@Common.FormatNumber(item.Price, 0)</td>
                <td>@Common.FormatNumber(item.TotalPrice, 2)</td>
                <td>
                    <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                    <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-success btnUpdate">Cập nhật</a>
                </td>
            </tr>
            i++;
        }
        <tr class="text-center">
            <th colspan="6" class="text-right">Tổng:</th>
            <th>@Common.FormatNumber(tongtien, 0)</th>
        </tr>
        <tr class="text-center">
            <th colspan="6" class="text-right"></th>
            <th></th>
            <td>
                <a href="#"class="btn btn-danger btnDeleteAll">Xóa</a>
                <a href="/thanh-toan" class="btn btn-success btnThanhToan">Thanh toán</a>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="7"> Không có sản phẩm nào trong giỏ hàng! </td>
        </tr>
    }

</table>


