<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
				<tbody><tr>
					<td align="center" valign="top">
						<div>
													</div>
						<table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
							<tbody><tr>
								<td align="center" valign="top">
									
									<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#96588a;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border-radius:3px 3px 0 0">
										<tbody><tr>
											<td style="padding:36px 48px;display:block">
												<h1 style="font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left;color:#ffffff;background-color:inherit">Đơn hàng mới: #{{MaDon}}</h1>
											</td>
										</tr>
									</tbody></table>
									
								</td>
							</tr>
							<tr>
								<td align="center" valign="top">
									
									<table border="0" cellpadding="0" cellspacing="0" width="600">
										<tbody><tr>
											<td valign="top" style="background-color:#ffffff">
												
												<table border="0" cellpadding="20" cellspacing="0" width="100%">
													<tbody>
													<tr>
														<td valign="top" style="padding:48px 48px 32px">
															<div style="color:#636363;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">

<p style="margin:0 0 16px">Bạn vừa nhận được đơn hàng từ  {{TenKhachHang}}. Đơn hàng như sau:</p>
<h2 style="color:#96588a;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
	<a href="#" style="font-weight:normal;text-decoration:underline;color:#96588a" target="_blank">[Đơn hàng #{{MaDon}}]</a> ({{NgayDat}})
</h2>

<div style="margin-bottom:40px">
	<table cellspacing="0" cellpadding="6" border="1" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
		<thead>
			<tr>
				<th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Sản phẩm</th>
				<th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Số lượng</th>
				<th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Giá</th>
			</tr>
		</thead>
		<tbody>
			{{SanPham}}
		</tbody>
		<tfoot>
			<tr>
				<th scope="row" colspan="2"
					style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
					Nguyên giá:
				</th>
				<td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
					<span>{{ThanhTien}}&nbsp;<span>₫</span></span>
				</td>
			</tr>
			<!--<tr>
		<th scope="row" colspan="2"
			style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
			Phương thức thanh toán:</th>
		<td
			style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
			Chuyển khoản ngân hàng</td>
	</tr>-->
			<tr>
				<th scope="row" colspan="2"
					style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
					Tổng cộng:
				</th>
				<td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
					<span>{{TongTien}}&nbsp;<span>₫</span></span>
				</td>
			</tr>
		</tfoot>
	</table>
</div>


<table cellspacing="0" cellpadding="0" border="0" style="width:100%;vertical-align:top;margin-bottom:40px;padding:0">
	<tbody><tr>
		<td valign="top" width="50%"
																	style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0">
																	<h2
																		style="color:#96588a;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
																		Thông tin người nhận</h2>

																	<address
																		style="padding:12px;color:#636363;border:1px solid #e5e5e5">
																		{{TenKhachHang}}<br>{{DiaChiNhanHang}}<br><a href="{{Phone}}"
																			style="color:#96588a;font-weight:normal;text-decoration:underline"
																			target="_blank">{{Phone}}</a> <br><a
																			href="mailto:{{Email}}"
																			target="_blank">{{Email}}</a>
																	</address>
																</td>
			</tr>
</tbody></table>
															</div>
														</td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
									</tbody></table>
									
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
				
			</tbody></table>