﻿@model IEnumerable<WebBanMyPham.Models.EF.Product>

@if (Model != null && Model.Any())
{
    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>Bán chạy nhất</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container">
                        <div class="owl-carousel owl-theme product_slider">
                            @foreach (var item in Model)
                            {
                                <div class="owl-item product_slider_item">
                                    <div class="product-item">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="@item.Image" alt="">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            @if (item.PriceSale > 0)
                                            {
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                            }
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                                                @if (item.PriceSale > 0)
                                                {
                                                    <div class="product_price">@WebBanMyPham.Common.Common.FormatNumber(item.PriceSale, 0)<span>@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</span></div>
                                                    <div style="display:none" class="in_product_price">@item.PriceSale</div>
                                                }
                                                else
                                                {
                                                    <div class="product_price">@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</div>
                                                    <div style="display:none" class="in_product_price">@item.Price</div>
                                                }
                                            </div>
                                        </div>
                                        
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm giỏ</a></div>

                                        </div>
                                </div>
                            }
                            <!-- Slide 1 -->

                           
                        </div>
                        <!-- Slider Navigation -->

                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
