﻿@model IEnumerable<WebBanMyPham.Models.EF.Product>

@if (Model != null & Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Product 1 -->
        <div class="product-item @item.ProductCategory.Alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@item.Image" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                @if (item.PriceSale > 0)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                }
                @*<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
                <div class="product_info">
                    <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                    @if (item.PriceSale > 0)
                    {
                        <div class="product_price">@WebBanMyPham.Common.Common.FormatNumber(item.PriceSale, 0)<span>@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</span></div>
                        <div style="display:none" class="in_product_price">@item.PriceSale</div>
                    }
                    else
                    {
                        <div class="product_price">@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</div>
                        <div style="display:none" class="in_product_price">@item.Price</div>
                    }
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm giỏ</a></div>
        </div>

    }
}
