﻿@model IEnumerable<WebBanMyPham.Models.EF.Product>
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/san-pham">Home</a></li>
                    <li class="active">
                    <a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.CateName</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Danh mục sản phẩm</h5>
                    </div>
                    @Html.Action("MenuLeft", "Menu", new { id = ViewBag.CateId })
                </div>
                <div class="sidebar_section">
                    <h5>Tìm theo tên</h5>
                    <div class="sidebar_title">
                        <p>Tên sản phẩm</p>
                    </div>
                    <p>
                        @*<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">*@
                        @using (Html.BeginForm())
                        {
                            @Html.TextBox("Search", "", new { @class = "form-control" })
                            <input class="filter_button" type="submit" style="color:white" value="TÌM" />

                        }
                    </p>
                </div>
                <h5>Tìm theo giá</h5>
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <p>Giá</p>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">

                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>Tìm</span></div>
                </div>
                <!-- Sizes -->
                <!--<div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Sizes</h5>
        </div>
        <ul class="checkboxes">
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
        </ul>
    </div>-->
                <!-- Color -->
                <!--<div class="sidebar_section">
        <div class="sidebar_title">
            <h5>Color</h5>
        </div>
        <ul class="checkboxes">
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
        </ul>
        <div class="show_more">
            <span><span>+</span>Show More</span>
        </div>
    </div>-->

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">Mặc định</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Mặc định</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên</span></li>
                                        </ul>
                                    </li>
                                    @*<li>
                                        <span>Show</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>*@
                                </ul>
                                @*<div class="pages d-flex flex-row align-items-center">
                                        <div class="page_current">
                                            <span>1</span>
                                            <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span> 3</div>
                                        <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div>*@

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">

                                <!-- Product 1 -->
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                <div class="product-item @item.ProductCategory.Alias">
                                    <div class="product discount product_filter">
                                        <div class="product_image">
                                            <img src="@item.Image" alt="@item.Title">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                                            @if (item.PriceSale > 0)
                                            {
                                                <div class="product_price">@WebBanMyPham.Common.Common.FormatNumber(item.PriceSale, 0)<span>@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</span></div>
                                                <div style="display:none" class="in_product_price">@item.PriceSale</div>
                                            }
                                            else
                                            {
                                                <div class="product_price">@WebBanMyPham.Common.Common.FormatNumber(item.Price, 0)</div>
                                                <div style="display:none" class="in_product_price">@item.Price</div>
                                            }
                                        </div>
                                    </div>
                                    <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm giỏ</a></div>
                                </div>
                                    }

                                }
                                <!-- Product 2 -->
                                <!-- Product Sorting -->
                                </div>
                                <!--<div class="product_sorting_container product_sorting_container_bottom clearfix">
                                    <ul class="product_sorting">
                                        <li>
                                            <span>Show:</span>
                                            <span class="num_sorting_text">04</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><span>01</span></li>
                                                <li class="num_sorting_btn"><span>02</span></li>
                                                <li class="num_sorting_btn"><span>03</span></li>
                                                <li class="num_sorting_btn"><span>04</span></li>
                                            </ul>
                                        </li>
                                    </ul>-->
                                    @*<span class="showing_results">Showing 1–3 of 12 results</span>
                                        <div class="pages d-flex flex-row align-items-center">
                                            <div class="page_current">
                                                <span>1</span>
                                                <ul class="page_selection">
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                </ul>
                                            </div>
                                            <div class="page_total"><span>of</span> 3</div>
                                            <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                        </div>*@

                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    @section scripts{
        <script src="~/Content/assets/js/categories_custom.js"></script>
    }

