﻿@model IEnumerable<WebBanMyPham.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <!-- Banner -->

    <div class="banner">
        <div class="container">
            <div class="row">
                @*@foreach (var item in Model)
                {
                    
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image: url(@item.Icon )">
                            <div class="banner_category">
                                <a href="@item.Alias">@item.Title</a>
                            </div>
                        </div>
                    </div>
                }*@
                    @*<div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image:url(Content/assets/images/mypham.jpg)">
                            <div class="banner_category">
                                <a href="categories.html">Mỹ phẩm</a>
                            </div>
                        </div>
                    </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image: url(Content/assets/images/nuochoa.jpg)">
                    <div class="banner_category">
                        <a href="categories.html">Nước hoa</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image: url(Content/assets/images/dungcu.jpg)">
                    <div class="banner_category">
                        <a href="categories.html">Dụng cụ trang điểm</a>
                    </div>
                </div>
            </div>*@
                </div>
            </div>
    </div>

}

